*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html, body {
  height:100%;
  width:100%;
  font-family: 'Roboto', sans-serif;
}
.header{
  width:100%;
  background-color:#303030;
  color:#fff;
  padding:10px;
}
/* Style for User.jsx */
.usercard{
  width:150px;
  border-radius:10px;
  margin:10px;
  background-color: #383838;
  padding:5px;
  color:white;
  box-shadow:2px 3px 10px #383838;
}
.topSection{
  display:flex;
  justify-content:;
  align-items:center;
  gap:10px;
  margin:0px 5px;
}
.topSection > img{
  width:50px;
}
.pp{
  border-radius:50%;
  border:1px solid #fff;
}
.bottomSection{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
}
.statusMenu{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  padding:5px;
}
span{
  margin:2px;
}

/*Style for List Items  */

.catagory{
  width:80%;
  margin:auto;
  text-align:center;
  padding:10px;
  background-color:#c1fbcc;
  color:#000000;
  border:2px solid #000000;
  border-radius:10px;
}
.olist{
  width:80%;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
  padding:5px;
}
.olist:hover{
  background-color:#d4d4d4;
  border-radius:10px;
}

/* Google Icon */
#googleIcon{
  width:50px;
  cursor:pointer;
}