*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html, body {
  height:100%;
  width:100%;
}
.header{
  width:100%;
  background-color:#303030;
  color:#fff;
  padding:10px;
}

.usercard{
  width:150px;
  border-radius:10px;
  margin:10px;
  background-color: #383838;
  padding:5px;
  color:white;
  box-shadow:2px 3px 10px #383838;
}
.topSection{
  display:flex;
  justify-content:;
  align-items:center;
  gap:10px;
  margin:0px 5px;
}
.topSection > img{
  width:50px;
}
.pp{
  border-radius:50%;
  border:1px solid #fff;
}
.bottomSection{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
}
.statusMenu{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  padding:5px;
}
span{
  margin:2px;
}